ol span{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

/* Link */
.menu-item a{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

.entry-title a{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

.g1-collection-list a strong{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

.entry-date{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

/* Span Tag */
.entry-author span{
	display:none;
}

/* Paragraph */
.textwidget p{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

/* Span Tag */
header span{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

/* Span Tag */
.tagcloud a{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

/* Paragraph */
.g1-column p{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

h1, h2, h3, h4{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

.entry-stats-m .entry-views span{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

/* Thumbnail Image */
#primary .g1-frame .mashsb-micro-wrapper img{
	height:320px;
}

.aps-content{
	font-size: 14px;
}

/* Entry before title */
.entry-inner .entry-header .entry-before-title{
	border-bottom-color:#16a085;
	border-bottom-width: 1px;
	border-top-color: #16a085;
	border-top-width: 1px;
	margin-top:-10px;
	height:30px;
	margin-bottom:5px;
}

/* Link */
.entry-categories-l a{
	margin-top:5px;
}

#content .entry-before-title a{
	background-color:transparent;
	border-style: none;
	color:#16a085;
}

#content .entry-before-title a:after{
	content:"/";
	margin-left:5px;
}

.entry-meta .entry-byline-m .entry-date{
	position:relative;
	left:-100px;
	top:15px;
	color:#16a085;
	font-size:13px;
}

/* Strong Tag */
.entry-author a strong:before{
	content: "Oleh ";
}

.g1-footer-stamp-icon{
	padding-bottom:8px;
}

.wp-post-image{
	border-radius:8px;
}

a .wp-post-image{
	border-radius:5px;
}

#page>.g1-row>.g1-row-inner .g1-bin nav ul .menu-item a{
	border:1px solid #ddd;
	border-radius:18px;
	padding:8px 14px 8px 14px;
	margin:7px 5px 0px 5px;
	font-size: 14px;
	font-weight: 700px;
	color:#000000;
}

.g1-hamburger-icon{
	color:#fff;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	padding-top:8px;
	padding-bottom:8px;
	background-color:#16a085;
}

.g1-secondary-nav-menu{
	width:100vw;
	max-width:100%;
	list-style:none;
	margin:0;
	max-width:100%;
	overflow-y:hidden;
	overflow-x:auto;
	-webkit-overflow-scrolling:touch;
	padding:0px 0;
	white-space:nowrap;
}

.g1-hb-row-3 .g1-column{
	width:100vw!important;
	position:relative;
	padding:0;
	overflow:hidden;
}

.g1-secondary-nav ::-webkit-scrollbar{
	height:8px!important;
}

.g1-secondary-nav ::-webkit-scrollbar-thumb:hover{
	background:#ccc;
	-webkit-transition:all .15s ease-out;
	-moz-transition:all .15s ease-out;
	transition:all .15s ease-out;
}

#page .g1-row:nth-child(3) .menu-item:nth-child(1) a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

#page .g1-row:nth-child(3) .menu-item:nth-child(2) a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

#page .g1-row:nth-child(3) .menu-item:nth-child(3) a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

#page .g1-row:nth-child(3) .menu-item:nth-child(4) a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

#page .g1-row:nth-child(3) .menu-item:nth-child(5) a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

#page .g1-row:nth-child(3) .menu-item:nth-child(6) a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

#page .g1-row:nth-child(3) .menu-item:nth-child(7) a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

#page .g1-row:nth-child(3) .menu-item:nth-child(8) a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

#page .g1-row:nth-child(3) .menu-item:nth-child(9) a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

#page .g1-row:nth-child(3) .menu-item:nth-child(10) a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

#page .g1-row:nth-child(3) .menu-item:nth-child(11) a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

#page .g1-row:nth-child(3) .menu-item:nth-child(12) a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

#page .g1-row:nth-child(3) .menu-item:nth-child(13) a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

#page .g1-row:nth-child(3) .menu-item:nth-child(14) a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

#page .g1-row:nth-child(3) .menu-item:nth-child(15) a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

#page .g1-row:nth-child(3) .menu-item:nth-child(16) a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

#page .g1-row:nth-child(3) .menu-item:nth-child(17) a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

#page .g1-row:nth-child(3) .menu-item:nth-child(18) a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

#page .g1-row:nth-child(3) .menu-item:nth-child(19) a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

/* Item buttons */
.aps-products-grid li .aps-item-buttons{
	text-align:center;
}

.aps-column ul{
	font-size:10px;
}

/* Link */
.aps-wd-products li a{
	padding-top:0px;
	height:190px;
}

/* List Item */
.wpb_widgetised_column .widget li{
	display:table-cell;
}

/* Column inner */
#page .vc_column-inner{
	margin-top:10px;
}

/* List */
.wpb_widgetised_column .widget ul{
	overflow: auto;
}

/* Price value */
.aps-wd-products a .aps-price-value{
	padding-top:3px;
}

.aps-products-grid .aps-item-meta a{
	font-weight:500;
	font-size:12px;
}

.aps-products-grid li .aps-price-value{
	font-size:13px;
}

.aps-products-grid li .aps-compare-txt{
	font-size:11px;
}

/* Product box */
.aps-products-grid li .aps-product-box{
	height:240px;
}

/* List Item */
#page .aps-products-grid > li{
	width:135px;
}

/* Division */
.aps-main-features .aps-product-meta > div{
	margin-top:3px;
	margin-bottom:3px;
	border-bottom-width:1px;
	border-bottom-style:none;
	border:1px #dddddd solid;
	border-radius: 3px;
	background-color:#ecf0f1;
}

/* Compare txt */
.aps-product-meta .aps-compare-btn .aps-compare-txt{
	text-align:center;
	background-color:#ecf0f1;
}

/* Price value */
.aps-product-meta .aps-product-price .aps-price-value{
	background-color:#f1f0ed;
}

/* Price value */
.aps-product-meta .aps-product-price .aps-price-value:before{
	content:"Harga:";
	padding-right:5px;
}

/* Flip back */
.aps-features li .flip-back{
	font-size:12px;
	padding-top:0px;
	padding-bottom:0px;
}

/* Rd box */
.aps-related-products li .aps-rd-box{
	font-size:13px;
}

/* Compare stat */
.aps-product-meta .aps-compare-btn .aps-compare-stat{
	margin-top:3px;
}

/* Paragraph */
#page .rank-math-breadcrumb p{
	margin-bottom:-5px;
	margin-top:15px;
}

/* Link */
#sabai_platform_wordpress_sabai_questions_askbtn-2 .sabai-widget-questions-askbtn a{
	width:100%;
	background-color:#16a085 !important;
	border-width:1px;
	border-color:#16a085 !important;
	padding-left:0px;
	padding-right:0px;
}

/* Link */
.g1-body-inner #page .g1-row .g1-row-inner #secondary #sabai_platform_wordpress_sabai_questions_askbtn-2 .sabai-widget-questions-askbtn a{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

/* Input */
.mc4wp-form-fields p input[type=email]{
	width:100%;
	text-align:center;
}

#mc4wp-form-1 .mc4wp-form-fields p label input[type=email]{
	width:184% !important;
	border:1px solid;
}

/* Input */
#mc4wp-form-1 .mc4wp-form-fields p input{
	width:100% !important;
}

/* Input */
.mc4wp-form-fields p input{
	font-size:15px;
	font-weight:600;
}

/* Paragraph */
#page .widget p{
	font-size:17px;
	color:#ffffff;
}

/* Span Tag */
#page .g1-bin-grow-off:nth-child(2) span:nth-child(2){
	padding:3px 10px 2px 10px;
	background-color: #ddd;
	border-radius:15px;
	font-size: 8px;
	font-weight: 500;
}

/* List Item */
.aps-sidebar .aps-wd-products li{
	padding-left:2px;
	padding-right:2px;
}

/* 800px and below screen sizes */
@media (max-width: 800px){

	/* Entry body */
	.g1-collection-list ul .entry-body{
		position:relative;
		left:-0px;
	}
	
}

/* 699px and below screen sizes */
@media (max-width: 699px){

	.g1-collection-list footer p{
		display: none;
	}
	
	.wp-post-image{
		border-radius:8px;
	}
	
	.entry-title a{
		font-size: 16px;
	}
	
	.g1-collection-list ul .post{
		padding-bottom: 15px;
		margin-top: -10px;
	}
	
	.g1-collection-list ul li{
		margin-bottom:-20px;
	}
	
	.g1-content-narrow p{
		font-size:16px !important;
	}
	
	.g1-related-entries ul li{
		margin-bottom:-20px;
	}
	
	.g1-frame .mashsb-micro-wrapper img{
		border-radius: 0px;
	}
	
}

/* 600px and below screen sizes */
@media (max-width: 600px){

	.g1-column .g1-mosaic-item{
		padding-top:90px;
	}
	
}

/* 480px and below screen sizes */
@media (max-width:480px){

	/* Thumbnail Image */
	#primary .g1-frame .mashsb-micro-wrapper img{
		height: 230px;
		margin-bottom:-20px;
	}
	
	/* List Item */
	#page .aps-products-grid > li{
		width:32%;
		height:250px;
	}
	
	/* Product box */
	.aps-products-grid li .aps-product-box{
		margin:-9px;
		width:100%;
		width:100%;
		margin-right:0px;
	}
	
	.aps-products-grid li .aps-compare-txt{
		font-weight:500;
		font-size:10px;
	}
	
	/* Content left */
	.aps-container .aps-content-left{
		width:112%;
		margin-left:-20px !important;
	}
	
	.g1-body-inner #page .aps-container .aps-row .aps-content-left .aps-products-grid li .aps-product-box{
		margin-left:4% !important;
	}
	
	/* Widget */
	.aps-container .aps-sidebar .aps-widget{
		width:110% !important;
		margin-left:-5%;
		margin-right:px;
	}
	
	/* Link */
	.aps-wd-products li a{
		height:195px !important;
	}
	
	/* List Item */
	.aps-sidebar .aps-wd-products li{
		width:33%;
	}
	
	/* Heading */
	.g1-body-inner #page .aps-container .aps-row .aps-sidebar .aps-widget h3{
		width:100% !important;
	}
	
	
}

/* 700px and above screen sizes */
@media (min-width: 700px){

	.g1-collection-list ul .post{
		border:1px solid #ddd;
		border-radius:8px;
	}
	
}
