/* Span Tag */
ol span{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

/* Link */
.menu-item a{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

/* Link */
.entry-title a{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

/* Strong Tag */
.g1-collection-list a strong{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

.entry-date{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

/* Span Tag */
.entry-author span{
	display:none;
}

/* Paragraph */
.textwidget p{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

/* Span Tag */
header span{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

/* Span Tag */
.tagcloud a{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

/* Paragraph */
.g1-column p{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

h1, h2, h3, h4{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

/* Span Tag */
.entry-stats-m .entry-views span{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}


.wp-post-image{
	border-radius:8px;
}

a .wp-post-image{
	border-radius:5px;
}

#page>.g1-row>.g1-row-inner .g1-bin nav ul .menu-item a{
	border:1px solid #ddd;
	border-radius:18px;
	padding:8px 14px 8px 14px;
	margin:7px 5px 0px 5px;
	font-size: 14px;
	font-weight: 700px;
	color:#000000;
}

.g1-bin-grow-off .g1-bin nav ul .menu-item a:before{
	content:"#"!important;
	display:inline-block!important;
	font-weight:600;
	font-family:Sans-serif;
	padding-right:4px;
	font-size:110%;
	color:#34495e;
}

.g1-hamburger-icon{
	color:#fff;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	padding-top:8px;
	padding-bottom:8px;
	background-color:#16a085;
}

.g1-secondary-nav-menu{
	width:100vw;
	max-width:100%;
	list-style:none;
	margin:0;
	max-width:100%;
	overflow-y:hidden;
	overflow-x:auto;
	-webkit-overflow-scrolling:touch;
	padding:0px 0;
	white-space:nowrap;
}

.g1-hb-row-3 .g1-column{
	width:100vw!important;
	position:relative;
	padding:0;
	overflow:hidden;
}

.g1-secondary-nav ::-webkit-scrollbar{
	height:8px!important;
}

.g1-secondary-nav ::-webkit-scrollbar-thumb:hover{
	background:#ccc;
	-webkit-transition:all .15s ease-out;
	-moz-transition:all .15s ease-out;
	transition:all .15s ease-out;
}
@media (min-width:900px}{
/* Thumbnail Image */
	#primary .g1-frame .mashsb-micro-wrapper img{
	height:323px;
	}

}
/* 800px and below screen sizes */
@media (max-width: 800px){

	/* Entry body */
	.g1-collection-list ul .entry-body{
		position:relative;
		left:-0px;
	}
	
}

/* 699px and below screen sizes */
@media (max-width: 699px){

	.g1-collection-list footer p{
		display: none;
	}
	
	.wp-post-image{
		border-radius:8px;
	}
	
	.entry-title a{
		font-size: 16px;
	}
	
	.g1-collection-list ul .post{
		padding-bottom: 15px;
		margin-top: -10px;
	}
	
	.g1-collection-list ul li{
		margin-bottom:-20px;
	}
	
	.g1-content-narrow p{
		font-size:16px !important;
	}
	
	.g1-related-entries ul li{
		margin-bottom:-20px;
	}
	
	.g1-frame .mashsb-micro-wrapper img{
		border-radius: 0px;
	}
	
}

/* 600px and below screen sizes */
@media (max-width: 600px){

	.g1-column .g1-mosaic-item{
		padding-top:90px;
	}
	
}


/* 700px and above screen sizes */
@media (min-width: 700px){

	.g1-collection-list ul .post{
		border:1px solid #ddd;
		border-radius:8px;
	}
	
}

/* --aps product home */
/* Wd title */
.aps-wd-products a .aps-wd-title{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
	text-align: left;
	position: relative;
	top:-80%;
	width: 70%;
	left: 70px;
	font-size: 14px;
}

/* Price value */
.aps-wd-products a .aps-price-value{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
	text-align: left;
	position: relative;
	top:-70%;
	width: 70%;
	left: 70px;
	font-size: 15px;
}

/* Image */
.aps-wd-products a img{
	width:25%;
	position: relative;
	padding-top: 8px;
}

/* List Item */
.aps-widget .aps-wd-products li{
	width:258px;
}

/* Link */
.wpb_wrapper .aps-widget .aps-wd-products li a{
	height:80px !important;
}

/* Link */
.aps-wd-products li a{
	position: relative;
	left: 8px;
}

/* Column inner */
#page .vc_column-inner{
	margin-top:-35px;
}

/* Heading */
.wpb_widgetised_column .aps-widget h3{
	position:relative;
	left:8px;
}

/* Wd thumb */
.wpb_widgetised_column a .aps-wd-thumb{
	height: 80px !important;
}

/* 480px and below screen sizes */
@media (max-width:900px){

	/* List */
	.wpb_widgetised_column .aps-widget ul{
		overflow: auto;
		white-space: nowrap;
		margin-bottom:-10px;
	}
	
	/* Wd title */
	.aps-wd-products a .aps-wd-title{
		font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
		font-size: 13px;
		text-align: left;
		position: relative;
		top:-55%;
		width: 50%;
		left: 27%;
	}
	
	/* Price value */
	.aps-wd-products a .aps-price-value{
		font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
		font-size: 15px;
		top:-45%;
		width: 50%;
		left:27%;
	}
	
	/* Price value */
	.aps-wd-products a .aps-price-value:after{
		font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
		content:" - Lihat Spesifikasi";
		position: relative;
		color:#333;
		font-size: 13px;
	}
	
	/* Image */
	.aps-wd-products a img{
		width:25%;
		position: relative;
	}
	
	/* List Item */
	.aps-widget .aps-wd-products li{
		width:340px;
	}
	
	/* Link */
	.wpb_wrapper .aps-widget .aps-wd-products li a{
		height:100px !important;
	}
	
}
